/* Tamano body */
main {
    max-width: 1200px;
    width: 100%;
}

/*/////////////////*/
.grid-container3 {
    display: flex;
    flex-direction: row;
}

.grid-item3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.circle {
    margin: 0 auto;
    margin-bottom: 20px;
}