/* Estilos Generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  padding-botton: 20px;
  
}

main {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

input{
  border: none;
  border-bottom: solid thin;
  padding: 5px;
  margin: 10px;
}

label{
  padding: 10px;
}

#mensaje{
  padding: 15px;
}

/* Estilos del Header */

.head__title{
  margin: 0;
}

.navigation {
  top: 70px;
  left: 0;
  width: 100%;
  background-color: rgb(51,90,216);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  float: right;
  font-size:14px;
}

.nav__tab {
  width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  max-width: 1280px;
  justify-content: end;
  
}

.nav__tab--item {
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  
}

.nav__tab--item :hover {
  
  background-color:  rgb(87, 116, 211);
  
  
}
.nav__tab--item a {
  color: white;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  
}

.dropdown-menu {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color:  rgb(51,90,216);
  padding: 10px;
  
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  color: #fff;
  width: auto;
  padding: 0px;
  margin: 0px;
  background-color:  rgb(43, 77, 185);
}




/* Estilos del contenido principal */

.main__advice {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advice__title {
  font-weight: 100;
  font-size: 14ch;
}

.main__advice img {
  width: 20vw;
}

.main__info {
  padding-left: 15px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.main__info--title {
  font-weight: 700;
  font-size: 7ch;
}

.main__paragraph {
  margin-bottom: 50px;
  text-align: center;
  max-width: 600px;
}

.main__info--text {
  line-height: 22px;
  font-weight: 400;
  text-align: justify;
  font-size: 16px;
  margin: 0;
  align-items: center;
  display: flex;
}

.product__container{
  width: 100%;
  padding: 25px;
}

.product-container-mid{
  width: 50%;
  padding: 50px;
}

.product__content{
  width: 50%;
  padding: 50px 100px;
  text-align: center;
}

.product-content-full{
  width: 75%;
  padding: 25px 100px;
  text-align: center;
}

.product__img--container{
  width: 50%;
}

.product__button{
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 15px 30px;
  font-weight: 900;
}
.product__button:hover{
  background-color: #fff;
  color: #333;
}

.logo {
  width: 30%;
  /* height: 60px; */
  float: left;
}
.imagen img {
  max-width: 100%; /* Ancho máximo de la imagen */
  max-height: 100%; /* Altura máxima de la imagen */
}

.imagen2 img {
  filter: invert(100%);
  height: 40px;
  width: 40px;
  max-width: 100%; /* Ancho máximo de la imagen */
  max-height: 100%; /* Altura máxima de la imagen */
}


.grid{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.column{
  display: flex;
  width: 40%;
  min-height: 400px;
}

.info__block{
  text-align: center;
  height: 100%;
  width: 49%;
  background-color: whitesmoke;
}

.form__block{
  text-align: center;
  height: 100%;
  width: 49%;
}

.form__block form{
  text-align: center;
  border: solid;
  /* padding: 10px; */
  height: 99%;
  margin: 0;
}

.form__block form section{
  display: flex;
  gap: 5px;
}

.name__input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
}

.lastname__input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
}

.mail__input{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.txt__input{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submit__button{
  width: 100%;
  color: #fff;
  background-color: #333;
  margin: 10px 0;
  padding: 10px;
  letter-spacing: 3px;
  font-weight: 700;
}
.submit__button:hover{
  color: #333;
  background-color: whitesmoke;
  border: solid thin;
}

/* Estilos del Footer */

.media__tabs {
  margin: 0;
  background-color: rgb(51, 90, 216);
  list-style-type: none;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}

.media__tabs--item {
  width: 3%;
}

.media__tabs--item img {
  width: 100%;
  width:"40px" ;
  height:"40px";
}

.rights__reserved {
  background-color: rgb(51, 90, 216);
  padding: 10px;
  color: #fff;
}

/* mios */

.columna {
  flex: 3;
  padding: 0 10px;
  float: left;
  height: 100%;
  width: 2;
  align-items: center;
  display: flex;
}

.containera {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  display: flex;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.imagen {
  width: 30px;
  height: 30px;
  display: inline-block;
  filter: invert(100%)
  
}

.imagen_normal {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding-right: 30px;
}

.imagen_left {
  width: 50px;
  height: 50px;
  display: flex;
  float: left;  
  padding-right: 30px;
}

.contenedor-bodycolumn {
  display: flex;
  width: 100%;  
  flex-direction: row;  
}

.contenedor-bodyrow {
  display: flex;
  width: 100%;  
  flex-direction: row;
}

.contenedor-footer {
  display: flex;
  width: 100%;  
  flex-direction: row;
}

.lineaH {
  margin-top:10px;
  display: flex;
  text-indent: 1em;    
}
.texto {  
   display: flex;
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
}

.rights__reserved-botton {
  background-color: rgb(46, 81, 197);
  width: 100%;  
  margin: 0px;  
  color: #fff;
  align-items: center;
  text-align: center;
}

.label-footer {
  font-size:16px;
}

.label-body {
  font-size:16px;
  text-align: justify;
}

.label-subtitulo {
  color:gray;
  text-align: left;
}
/*Imagenes Columna Container*/

.columna--img {
  height: 300px;
  width: 100%;
}

footer .columna {
  display: inline-block;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto ;
  background-color: #fff;
  padding: 10px;
}

.grid-container3 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: justify;
}

.grid-item3 {
   background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: justify;   
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
 border: 0px solid rgba(0, 0, 0, 0.8);
 padding: 0px;
 font-size: 30px;
 text-align: justify;  
}

.info-button {
  background-color: rgb(46, 81, 197);
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.label-construction {
  padding: 150px;
  margin:50px;
  font-size: 60px;  
  color: rgb(46, 81, 197);
}


.menuCSS3 ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menuCSS3 a {
  display: block;
  padding: 2em;
  background-color: #F9B53C;
  text-decoration: none;
  color: #191C26;
}
.menuCSS3 a:hover {
  background-color: #CC673B;
}
.menuCSS3 ul li ul {
  display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
  display: block;
}